body {
  margin: 0;
}

.App {
  font-family: 'Maitree', serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}

/* Navbar */
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  gap: 1px;
  padding: 0%;
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery .photo {
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 15px black;
}

.gallery .photo:hover {
  box-shadow: 0px 0px 2px 1px black;
}

.gallery .photo svg {
  align-self: flex-end;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.p-3 {
  padding: 30px;
}

.photo-card {
  /* flex: 1 0 auto; */
  margin: 0;
  /* padding: 0; */
  position: relative;
}

.fixed-size-img {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

.image-container {
  position: relative; /* Necesario para el posicionamiento absoluto del ícono */
}

.heart-button {
  position: absolute;
  top: 10px;
  right: 180px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
